body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  overflow-x: hidden;
}

.nav-link-overline {
  position: relative;
}

.nav-link-overline::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.nav-link-overline:hover::before {
  transform: scaleX(1);
  color: #edafb8;
}

.nav-link:hover {
  color: #edafb8;
  transition: background 0.4s ease-in-out;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-content {
  padding-top: 59px;
}

.container-lg-fluid,
.container {
  margin-top: 50px;
}

footer {
  background-color: #edede9;
  font-family: "League Spartan", sans-serif;
}

.thisfooter p {
  background-color: #edede9;
  font-family: "League Spartan", sans-serif;
}

footer p {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

#reserved {
  border-top: 0.5px solid black;
  background-color: #e0e1dd;
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: 350;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: 350;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  line-height: 1.5;
}

p {
  font-family: "League Spartan", sans-serif;
  font-weight: 350;
  font-size: 1.1rem;
}

#anchor {
  font-family: "League Spartan", sans-serif;
  font-weight: 350;
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}

#anchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: width 0.3s;
}

#anchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease, left 0.3s ease;
}

#anchor:hover::after {
  width: 0;
  right: 100%;
}
